annotated-doc      
annotated-types    
anyio              
cffi               
charset-normalizer 
click              
colorama           
cryptography       
fastapi            
fastapi-utils      
greenlet           
h11                
idna               
mypy_extensions    
pdf2image          
pillow             
pip                
psutil             
pycparser          
pydantic           
pydantic_core      
pydantic-settings  
PyPDF2             
python-dotenv      
python-multipart   
redis              
reportlab         
SQLAlchemy         
starlette          
typing_extensions  
typing-inspect     
typing-inspection  
uvicorn            